{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="banner-wrapper has_background">
    <img src="{% static 'assets/images/banner-for-all2.jpg' %}"
         class="img-responsive attachment-1920x447 size-1920x447" alt="img">
    <div class="banner-wrapper-inner">
        <h1 class="page-title">Orders</h1>
        <div role="navigation" aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
            <ul class="trail-items breadcrumb">
                <li class="trail-item trail-begin"><a href="/"><span>Home</span></a></li>
                <li class="trail-item trail-end active"><span>Orders</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<main class="site-main main-container no-sidebar">
    <div class="container">
        <div class="row">
            <div class="main-content col-md-12">
                <div class="page-main-content">
                    <div class="lynessa">
                        <nav class="lynessa-MyAccount-navigation">
                            <ul>
                                <li class="lynessa-MyAccount-navigation-link lynessa-MyAccount-navigation-link--dashboard">
                                    <a href="/my_account">Dashboard</a>
                                </li>
                                <li class="lynessa-MyAccount-navigation-link lynessa-MyAccount-navigation-link--orders is-active">
                                    <a href="/orders">Orders</a>
                                </li>
                                <li class="lynessa-MyAccount-navigation-link lynessa-MyAccount-navigation-link--downloads">
                                    <a href="/downloads">Downloads</a>
                                </li>
                                <li class="lynessa-MyAccount-navigation-link lynessa-MyAccount-navigation-link--edit-address">
                                    <a href="/addresses">Addresses</a>
                                </li>
                                <li class="lynessa-MyAccount-navigation-link lynessa-MyAccount-navigation-link--edit-account">
                                    <a href="/edit_account">Account details</a>
                                </li>
                                <li class="lynessa-MyAccount-navigation-link lynessa-MyAccount-navigation-link--customer-logout">
                                    <a href="/">Logout</a>
                                </li>
                            </ul>
                        </nav>
                        <div class="lynessa-MyAccount-content">
                            <div class="lynessa-notices-wrapper"></div>
                            <table class="lynessa-orders-table lynessa-MyAccount-orders shop_table shop_table_responsive my_account_orders account-orders-table">
                                <thead>
                                <tr>
                                    <th class="lynessa-orders-table__header lynessa-orders-table__header-order-number"><span class="nobr">Order</span></th>
                                    <th class="lynessa-orders-table__header lynessa-orders-table__header-order-date"><span class="nobr">Date</span></th>
                                    <th class="lynessa-orders-table__header lynessa-orders-table__header-order-status"><span class="nobr">Status</span></th>
                                    <th class="lynessa-orders-table__header lynessa-orders-table__header-order-total"><span class="nobr">Total</span></th>
                                    <th class="lynessa-orders-table__header lynessa-orders-table__header-order-actions"><span class="nobr">Actions</span></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for order in orders %}
                                <tr class="lynessa-orders-table__row lynessa-orders-table__row--status-{{ order.status|lower }} order">
                                    <td class="lynessa-orders-table__cell lynessa-orders-table__cell-order-number" data-title="Order">
                                        <a href="/prod_details/{{ order.product.name }}">{{ order.product.name }}</a>
                                    </td>
                                    <td class="lynessa-orders-table__cell lynessa-orders-table__cell-order-date" data-title="Date">
                                        <time datetime="{{ order.ordered_at|date:'c' }}">{{ order.ordered_at|date:"F d, Y" }}</time>
                                    </td>
                                    <td class="lynessa-orders-table__cell lynessa-orders-table__cell-order-status" data-title="Status">
                                        {{ order.status }}
                                    </td>
                                    <td class="lynessa-orders-table__cell lynessa-orders-table__cell-order-total" data-title="Total">
                                        <span class="lynessa-Price-amount amount"><span class="lynessa-Price-currencySymbol">₹</span>{{ order.product.price }}</span> for {{ order.quantity }} items
                                    </td>
                                    <td class="lynessa-orders-table__cell lynessa-orders-table__cell-order-actions" data-title="Actions">
                                        <a href="/track" class="lynessa-button button view">Track</a>
                                    </td>
                                </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="6" class="empty-cart">No Orders.</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}