{% extends 'seller/vendor_base.html' %}
{% load static %}
{% block body %}
<div class="single-thumb-vertical main-container shop-page no-sidebar">
    <div class="container mt-5">
    <div class="row">
    <div class="main-content col-md-12 mt-5">

    <div class="lynessa-tabs lynessa-tabs-wrapper">
                        <ul class="tabs dreaming-tabs" role="tablist">
                            <!-- <li class="additional_information_tab" id="tab-title-additional_information" role="tab" aria-controls="tab-additional_information">
                                <a href="#tab-additional_information">Product</a>
                            </li> -->
                            <li class="reviews_tab" id="tab-title-reviews" role="tab" aria-controls="tab-reviews">
                                <a href="#tab-reviews">Category</a>
                            </li>
                        </ul>

                    
                        <div class="lynessa-Tabs-panel lynessa-Tabs-panel--reviews panel entry-content lynessa-tab" id="tab-reviews" role="tabpanel" aria-labelledby="tab-title-reviews" style="display: none;">
                            <div id="reviews" class="lynessa-Reviews">
                                <div id="review_form_wrapper">
                                    <div id="review_form">
                                        <div id="respond" class="comment-respond" >
                                            <span id="reply-title" class="comment-reply-title">Fill “Category” Details</span>
                                            <form id="commentform" class="" method="post" enctype="multipart/form-data" >
                                                {% csrf_token %}
                                                <p class="comment-form-author">
                                                    <label for="author">Category Name&nbsp;<span class="required">*</span></label>
                                                    <input id="author" name="cname" value="{{cat.name}}" size="30"  type="text">
                                                </p>
                                                <div class="comment-form-rating">
                                                    <label>Category Image&nbsp;
                                                    <span class="required">*</span></label>
                                                    <img src="{{cat.image.url}}" alt="" style="height: 500px; width: 500px;">
                                                    <input type="file" name="image" accept="image/jpeg" >
                                                </div>
                                                <div>
                                                <input name="submit" id="submit" class="submit" value="Submit" type="submit">
                                                </div>
                                                </form>
                                        </div><!-- #respond -->
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
    </div>
    </div>
    </div>
    </div>
</div>
{% endblock %}