{% extends 'seller/vendor_base.html' %}
{% load static %}
{% block body %}
<div class="single-thumb-vertical main-container shop-page no-sidebar">
    <div class="container mt-5">
        <div class="row">
            <div class="main-content col-md-12 mt-5">
                <div class="lynessa-tabs lynessa-tabs-wrapper">
                    <ul class="tabs dreaming-tabs" role="tablist">
                        <li class="additional_information_tab" id="tab-title-additional_information" role="tab" aria-controls="tab-additional_information">
                            <a href="#tab-additional_information">Product</a>
                        </li>
                    </ul>

                    <div class="lynessa-Tabs-panel lynessa-Tabs-panel--additional_information panel entry-content lynessa-tab" id="tab-additional_information" role="tabpanel" aria-labelledby="tab-title-additional_information" style="display: none;">
                        <div class="lynessa-Reviews">
                            <div>
                                <div>
                                    <div class="comment-respond">
                                        <span class="comment-reply-title">Fill “Product” Details</span>
                                        <form class="comment-form" method="POST" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <p class="comment-form-author">
                                                <label for="author">Name&nbsp;<span class="required">*</span></label>
                                                <input name="name" value="{{pro.name}}" size="30" required="" type="text">
                                            </p>

                                            <p class="comment-form-email">
                                                <label>Price&nbsp;<span class="required">*</span></label>
                                                <input name="price" value="{{pro.price}}" required="" type="number">
                                            </p>

                                            <div class="category">
                                                <p class="comment-form-email">
                                                    <label>Category&nbsp;<span class="required">*</span></label>
                                                    <select name="category" required="">
                                                        {% for i in sub_cat %}
                                                            <option value="{{i.id}}" {% if i.id == pro.sub_category.id %}selected{% endif %}>{{i.name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </p>
                                            </div>

                                            <div class="sizes">
                                                <label>Select Sizes:</label>
                                                <select name="sizes" multiple required="">
                                                    {% for size in sizes %}
                                                        <option value="{{ size.id }}" {% if size in pro.sizes.all %}selected{% endif %}>{{ size.size }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>

                                            <div class="comment-form-rating">
                                                <label>Main Image&nbsp;<span class="required">*</span></label>
                                                <input type="file" name="gallery" accept="image/jpeg">
                                                {% if pro.gallery %}
                                                    <img src="{{ pro.gallery.url }}" alt="Gallery Image" width="100">
                                                {% endif %}
                                            </div>

                                            <div class="comment-form-rating">
                                                <label>Image 2&nbsp;</label>
                                                <input type="file" name="img2" accept="image/jpeg">
                                                {% if pro.img2 %}
                                                    <img src="{{ pro.img2.url }}" alt="Image 2" width="100">
                                                {% endif %}
                                            </div>

                                            <div class="comment-form-rating">
                                                <label>Image 3&nbsp;</label>
                                                <input type="file" name="img3" accept="image/jpeg">
                                                {% if pro.img3 %}
                                                    <img src="{{ pro.img3.url }}" alt="Image 3" width="100">
                                                {% endif %}
                                            </div>

                                            <div class="comment-form-rating">
                                                <label>Image 4&nbsp;</label>
                                                <input type="file" name="img4" accept="image/jpeg">
                                                {% if pro.img4 %}
                                                    <img src="{{ pro.img4.url }}" alt="Image 4" width="100">
                                                {% endif %}
                                            </div>

                                            <p class="comment-form-author mt-3">
                                                <label for="offer">Offer?</label>
                                                <input type="checkbox" name="offer" {% if pro.offer %}checked{% endif %}>
                                            </p>

                                            <p class="comment-form-author mt-3">
                                                <label for="dotd">Deal of the Day?</label>
                                                <input type="checkbox" name="dotd" {% if pro.dotd %}checked{% endif %}>
                                            </p>

                                            <p class="comment-form-author mt-3">
                                                <label for="author">Stock&nbsp;<span class="required">*</span></label>
                                                <input name="stock" value="{{pro.stock}}" required="" type="number">
                                            </p>

                                            <p class="comment-form-comment">
                                                <label>Description&nbsp;<span class="required">*</span></label>
                                                <textarea name="comment" cols="45" rows="8" required="">{{pro.description}}</textarea>
                                            </p>

                                            <p class="form-submit">
                                                <input name="submit" class="submit" value="Update" type="submit">
                                            </p>

                                            <!-- Delete Button (only visible when editing) -->
                                            {% if pro.product_id %}
                                                <div>
                                                    <a style="float:right;" href="{% url 'seller:delete_prod' pro.product_id %}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this category?');">
                                                        Delete
                                                    </a>
                                                </div>
                                            {% endif %}


                                        </form>
                                    </div><!-- #respond -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
