{% extends 'base.html' %}
{% load static %}
{% block body %}
<!--<div class="banner-wrapper has_background">
    <img src="{% static 'assets/images/banner-for-all2.jpg' %}"
         class="img-responsive attachment-1920x447 size-1920x447" alt="img">
    <div class="banner-wrapper-inner">
        <div class="container lynessa-categories style-02">
            <div class="categories-list-owl owl-slick equal-container better-height"
                 data-slick="{&quot;arrows&quot;:true,&quot;slidesMargin&quot;:60,&quot;dots&quot;:false,&quot;infinite&quot;:false,&quot;speed&quot;:300,&quot;slidesToShow&quot;:6,&quot;rows&quot;:1}"
                 data-responsive="[{&quot;breakpoint&quot;:480,&quot;settings&quot;:{&quot;slidesToShow&quot;:3,&quot;slidesMargin&quot;:&quot;10&quot;}},{&quot;breakpoint&quot;:768,&quot;settings&quot;:{&quot;slidesToShow&quot;:4,&quot;slidesMargin&quot;:&quot;20&quot;}},{&quot;breakpoint&quot;:992,&quot;settings&quot;:{&quot;slidesToShow&quot;:5,&quot;slidesMargin&quot;:&quot;30&quot;}},{&quot;breakpoint&quot;:1200,&quot;settings&quot;:{&quot;slidesToShow&quot;:6,&quot;slidesMargin&quot;:&quot;40&quot;}},{&quot;breakpoint&quot;:1500,&quot;settings&quot;:{&quot;slidesToShow&quot;:6,&quot;slidesMargin&quot;:&quot;50&quot;}}]">
                Categories Section
                (Your existing categories code goes here) 
            </div>
        </div>
    </div>
</div>-->
<div class="banner-wrapper has_background">
    <img src="{% static 'assets/images/banner-for-all2.jpg' %}"
         class="img-responsive attachment-1920x447 size-1920x447" alt="img">
    <div class="banner-wrapper-inner">
        <h1 class="page-title">{{category.name}}</h1>
        <div role="navigation" aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
            <ul class="trail-items breadcrumb">
                <li class="trail-item trail-begin"><a href="/"><span>Home</span></a></li>
                <li class="trail-item trail-end active"><span>{{category.name}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>

<!--<h1 class="page-title">Shop</h1>-->
<div class="main-container shop-page left-sidebar">
    <div class="container">
        <div class="row">
            <div class="main-content col-xl-9 col-lg-8 col-md-8 col-sm-12 has-sidebar">
                <div class="auto-clear lynessa-products">
                    <ul class="row products columns-3">
                        {% for product in products %}
                        <li class="product-item wow fadeInUp product-item rows-space-30 col-bg-3 col-xl-3 col-lg-4 col-md-6 col-sm-6 col-ts-6 style-01 post-{{ product.product_id }} product type-product status-publish has-post-thumbnail"
                            data-wow-duration="1s" data-wow-delay="0ms" data-wow="fadeInUp">
                            <div class="product-inner tooltip-left">
                                <div class="product-thumb">
                                    <a class="thumb-link" href="/prod_details/{{ product.product_id }}">
                                        <img class="img-responsive"
                                             src="{{ product.gallery.url }}"
                                             alt="{{ product.name }}" width="600" height="778">
                                    </a>
                                    {% if product.stock == 0 %}
                                    <div class="flash">
                                        <h5 class="text-danger"><b>Out of Stock</b></h5>
                                    </div>
                                    {% else %}
                                    <div class="group-button">
                                        <div class="add-to-cart">
                                            <form action="{% url 'add_to_cart' product.product_id %}" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="my_size" value="{{product.sizes.all.0}}">
                                                <button style="all: unset; background: none; border: none; padding: 0; margin: 0; font: inherit; color: inherit; cursor: pointer;" type="submit" class="button product_type_simple add_to_cart_button ajax_add_to_cart" tabindex="0"><i class="fa fa-shopping-cart"></i></button>
                                            </form>
                                        </div>
                                        <div class="yith-wcwl-add-to-wishlist">
                                            <form action="{% url 'add_to_wishlist' product.product_id %}" method="post">
                                            {% csrf_token %}
                                                <input type="hidden" name="my_size" value="{{product.sizes.all.0}}">
                                                <button style="all: unset; background: none; border: none; padding: 0; margin: 0; font: inherit; color: inherit; cursor: pointer;" type="submit" class="add_to_wishlist" tabindex="0"></button>
                                            </form>
                                        </div>
                                    </div>
                                    {% endif %}
                                    <a href="#" class="button yith-wcqv-button" data-product_id="{{ product.product_id }}">Quick View</a>
                                </div>
                                <div class="product-info equal-elem">
                                    <h3 class="product-name product_title">
                                        <a href="/prod_details/{{ product.product_id }}">{{ product.name }}</a>
                                    </h3>
                                    <!--
                                    <div class="rating-wapper nostar">
                                        <div class="star-rating"><span style="width:0%">Rated <strong class="rating">0</strong> out of 5</span></div>
                                        <span class="review">(0)</span>
                                    </div>
                                    -->
                                    <span class="price"><span class="lynessa-Price-amount amount"><span class="lynessa-Price-currencySymbol">₹</span>{{ product.price }}</span></span>
                                    <div class="lynessa-product-details__short-description">
                                        <p>{{ product.description|truncatewords:20 }}</p>
                                        <ul>
                                            <li>Category: {{ product.category }}</li>
                                            <li>Subcategory: {{ product.subCategory }}</li>
                                            <li>Stock: {{ product.stock }}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        {% empty %}
                        <div class="col-md-12">
                            <p>No product found.</p>
                        </div>
                        {% endfor %}
                    </ul>
                </div>
            </div>

<div class="sidebar col-xl-3 col-lg-4 col-md-4 col-sm-12">
                <div id="widget-area" class="widget-area shop-sidebar">
                    <form method="get" action="">
                    <div id="lynessa_price_filter-2" class="widget lynessa widget_price_filter"><h2
                            class="widgettitle">Filters<span class="arrow"></span></h2>
                        <button type="submit">Apply Filters</button>
                            <div class="price_slider_wrapper">
                                <!-- Price Range Filter -->
                                <div class="filter-section">
                                    <h3>Filter By Price</h3>
                                    <input type="number" name="min_price" placeholder="Min Price" value="{{ request.GET.min_price }}">
                                    <input type="number" name="max_price" placeholder="Max Price" value="{{ request.GET.max_price }}">
                                </div>
                            </div>
                    </div>
                    <div id="lynessa_layered_nav-6"
                         class="widget lynessa widget_layered_nav lynessa-widget-layered-nav"><h2
                            class="widgettitle">Filter By Size<span class="arrow"></span></h2>
                        <ul class="lynessa-widget-layered-nav-list">
                            {% for size in sizes %}
                            <li class="lynessa-widget-layered-nav-list__item lynessa-layered-nav-term ">
                                <label>
                                    <input type="checkbox" name="size" value="{{ size.id }}"
                                            {% if size.id in selected_size_ids %}checked{% endif %}>
                                    <span>{{size.size}}</span>
                                </label>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div id="lynessa_product_categories-3" class="widget lynessa widget_product_categories"><h2
                            class="widgettitle">Product categories<span class="arrow"></span></h2>
                        <ul class="product-categories">
                            {% for sb in sub_category %}
                            <li class="cat-item cat-item-22">
                                <label>
                                    <input type="checkbox" name="sub_category" value="{{ sb.id }}"
                                            {% if sb.id in selected_sub_category_ids %}checked{% endif %}>
                                    <span>{{sb.name}}</span>
                                </label>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>

                    </form>
                    <div id="lynessa_product_categories-4" class="widget lynessa widget_product_categories">
                        <h2 class="widgettitle">Genders<span class="arrow"></span></h2>
                        <ul class="product-categories">
                            <li class="ml-4">
                                <a href="/shop/2">Female</a>
                            </li>
                            <li class="ml-4">
                                <a href="/shop/3">Male</a>
                            </li>
                        </ul>
                    </div>
                </div>
</div>
</div>
</div>
</div>

{% endblock %}
