{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="banner-wrapper has_background">
    <img src="{% static 'assets/images/banner-for-all2.jpg' %}" class="img-responsive attachment-1920x447 size-1920x447" alt="img">
    <div class="banner-wrapper-inner">
        <h1 class="page-title">Wishlist</h1>
        <div role="navigation" aria-label="Breadcrumbs" class="breadcrumb-trail breadcrumbs">
            <ul class="trail-items breadcrumb">
                <li class="trail-item trail-begin"><a href="/"><span>Home</span></a></li>
                <li class="trail-item trail-end active"><span>Wishlist</span></li>
            </ul>
        </div>
    </div>
</div>

<main class="site-main main-container no-sidebar">
    <div class="container">
        <div class="row">
            <div class="main-content col-md-12">
                <div class="page-main-content">
                    <div class="lynessa">
                        {% if wishlist_items %}
                        <ul class="wishlist-items">
                            {% for item in wishlist_items %}
                            <li class="wishlist-item">
                                <img src="{{ item.product.gallery.url }}" alt="{{ item.product.name }}" height="200" width="200">
                                <h3>{{ item.product.name }}</h3>
                                <span class="price">₹{{ item.product.price }}</span>
                                {% if item.size %}
                                <span class="size">Size: {{ item.size }}</span>
                                {% endif %}
                                <form action="{% url 'add_to_cart_from_wishlist' item.product.product_id item.size %}" method="post">
                                    {% csrf_token %}
                                    <input type="submit" value="Move to Cart">
                                </form>
                            </li><br>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <p>Your wishlist is empty.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}
